/* Styles généraux */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

/* Main content */
main {
  padding: 20px;
}

/* Creations section */
.creation {
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Styles pour la modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%; /* Ajustez la largeur maximale selon vos préférences */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Styles pour le formulaire de contact */
#contactForm {
  max-width: 500px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/*style pour photo profil*/

header img{
  width: 8%;
  border-radius: 50%;
}

/* style pour technologies */

#logos{
  width: 25px;
  
}

#social-media{
  width: 28px;

}



/* Style par défaut pour les liens sociaux */

/* Style au survol */
#social-media a:hover {
  background-color: #393939;
}

/* Style au clic */
#social-media a.active {
  background-color: whitesmoke; /* Nouvelle couleur de fond au clic */
}


/*style création image*/
.creation img{
  width: 50px;
  transition: filter 0.3s ease
}

.creation img:hover {
  filter: brightness(2); /* Augmente la luminosité au survol */

}



/* Styles pour le mode sombre */
body.dark-mode {
  background-color: #333;
  color: #fff;
}


/* Styles pour aligner les images de créations horizontalement et au centre */
#creations {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.creation {
    margin: 10px; /* Ajoutez une marge entre les images si nécessaire */
}

.creation img {
    max-width: 100%;
    height: auto;
}













/* Styles pour la page 404 */


